
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	max-width: 100%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* Use your own code or past solution for Great Idea Web Page CSS here! */
* {
	max-width: 100%;
}
.wrap{
	margin: 0 10vw;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/*{
	max-width: 100%;
}*/
header nav{
	display:flex;
	justify-content: space-evenly;
	width: 100%;
}
.logo{
	width:20%;
	margin-top: 2%;
}

header .navigation{
	display:flex;
	justify-content: space-evenly;
	width:60%;
	margin-top: 3%;
}
a{
	text-decoration: none;
	color: grey;
}
.picture{
	width: 40%;
}

.top{
	text-align: center;
	font-size: 80px;
	margin-top: 10%;
}
.ondemand{
	display: inline-block;
	margin-right: 10%;
}

.top button{
  font-size: 50px;
  background-color: white;
  color: black;
  border: 2px solid black;
}
.first-pic{
	display: inline-block;
text-align: right; 
}
.middle-img{
	margin-left: 10%;
}
.top-section{
	border-top: 2px solid black;
	padding-top: 5%;
	margin: 5%;
	font-size: 20px;
	columns: 100px 2;
}
.feat{
	font-size: 25px;
	font-style: bold;
  margin: 3%;
  font-weight: bold;

}
.about{
	font-size: 25px;
	font-style: bold;
  margin: 5% 3% 3% 3%;
  font-weight: bold;

}


.bottom-section{
	
	margin: 5%;
	font-size: 20px;
	columns: 100px 3;
}
.services{
	font-size: 25px;
	font-weight: bold;
}
.product{
	font-size: 25px;
	font-weight: bold;
	margin: 3%;
}
.vision{
	font-size: 25px;
	font-weight: bold;
	margin: 3%;
}
.contact{
	margin-left: 5%;
	font-size: 20px;
	columns: 100px 1;
	
}
.con{
	border-top: solid black;
	font-weight: bold;
	padding-top: 3%;
}

.one{
	
	margin:0 1;
	text-align: left;
}
.two{
	
	text-align: right;

}

footer{
	margin-top: 10%;
	text-align: center;
}
.number{
  margin: 3% 0;
}

/* start of section CSS*/
.mainpic{
	margin: 5% 10% 5% 10%;
}
.services{
	font-size: 30px;
	font-style: bold;
}
.border{
	border-bottom: 2px solid black;
	margin-bottom: 5%;
	padding-bottom: 5%;
	font-size: 20px;
}
.learn{
		border-radius: 4px;
		padding: 2% 5%;
        background-color:white;
        color:black;
		border:1px solid black;
		margin-top: 3%;
}
.section-one{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5%;
}
.box-one{
	background-color: rgb(219, 210, 210);
	border:2px solid black;
	width: 40%;
	padding: 3%;
}
.box-two{
	background-color: rgb(219, 210, 210);
	border:2px solid black;
	width: 40%;
	padding: 3%;

}
.section-two{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5%;
}
.box-three{
	background-color: rgb(219, 210, 210);
	border:2px solid black;
	width: 40%;
	padding: 3%;

}
.box-four{
	background-color: rgb(219, 210, 210);
	border:2px solid black;
	width: 40%;
	padding: 3%;

}
.section-three{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 5%;
}
.box-five{
	background-color: rgb(219, 210, 210);
	border:2px solid black;
	width: 40%;
	padding: 3%;

}
.box-six{
	background-color: rgb(219, 210, 210);
	border:2px solid black;
	width: 40%;
	padding: 3%;

}
.last-container{
	display: flex;
	flex-direction: row-reverse;
	border-top: 2px solid black;
	padding-top: 5%;
}
.child{
	margin-left: 10%;
}
.ptwo{
	margin-bottom: 3%;
	width: 40%;
}
.list{
	list-style-type: square;
}
.copy{
	margin: 10% 0;
	text-align: center;
}
@media(max-width:800px){
  *{
    box-sizing: border-box;
    max-width: 100%;
  }
  .wrap{
    margin: 5vw;
  }
  header{
    max-width: 100%;
    box-sizing: border-box;
  }
  nav{
    display: flex;
    flex-wrap: wrap-reverse;
    width:49%;
  }
  .navigation{
    max-width: 100%;
  }
  header a{
    margin:3% 10% 0 10%;
  }
  .logo{
    width:41%;
  }
  .first-pic{
    display: none;
  }
  .middle-img{
    margin-left: -1%;
  }
  .one{
    text-align: left;
  }
  .feat{
    text-align: left;
    font-weight: bold;
  }
  .about{
    text-align: left;
    font-weight: bold;

  }
  .two{
    text-align: left;
  }
  .services{
    margin-bottom: 4%;
  }
  .con{
    margin-bottom: 4%;
  }
}
@media(max-width:500px){
  *{
    max-width: 100%;
  }
  .wrap{
    margin: 3vw;
  }
  .navigation{
    display: flex;
    flex-direction: column;  
    margin-right: 74%;

  }
  a{
    text-align: center;
    width: 100%;
    border-top: 2px solid grey;
    padding: 3px 95%;
  }
  .top-section{
    display: flex;
    flex-direction: column;
  }
  .feat{
    font-weight: bold;
  }
  .about{
    font-weight: bold;
  }
  .bottom-section{
    display: flex;
    flex-direction: column;
    margin: 7% 0;
  }
  .four{
    margin:5% 0;
  }
  .contact{
    text-align: left;
    margin-left: -3%;
  }
}